.login-form {
    width: 60%;
    margin-top: 20px;
    padding: 30px 10px;
    border: 1px solid gainsboro;
    border-radius: 25px;

}

.form-in {
    margin: 0 auto;
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    border-radius: 20px;
    padding-left: 15px;
}

.sub-btn {
    width: 25%;
    margin: 0 auto;
}

.or-sec {
    background-color: aqua;
    width: 25%;
    height: 1px;
}